@using IDFinder_App.Components
@page "/"

<h1>Hello, world!</h1>
<ul>
    <ListElement Label="EleOne" />
    <ListElement Label="EleTwo" />

    <ul>
        <ListElement Label="NestedEleThree" />
        <ListElement Label="NestedEleFour" />
    </ul>
</ul>